header {
    text-align: right;
    display: inline;
    position: 
}

body {
    background-color: #28292a;
    color: whitesmoke;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}   

img {
    padding-top: 100px;
    width: 33%;
    align-items: bottom bottom
}

svg {
    width: 24px
}

.search {
    background-color: #4d5156;
    position: fixed;
    left: auto;
    right: auto;
    min-width: 55%;
    max-width: 55%;
    min-height: 8%;
    max-height: 8%;
    text-align: center;
    margin-left: 340px;
    padding: auto;
    border-radius: 15px;
}

p {
    text-align: right;
    margin-right: 23px;
}