body {
    margin: 20px;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    border: 2px dotted rgb(0, 121, 151);
}

.card {
    padding: 20px;
    display: flex;
}

.dotted-border {
    border: 2px dotted rgb(0, 121, 151);
    border-radius: 10%;
}