body {
    margin: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 8px;
}

.card {
    padding: 20px;
    display: flex;
    width: 400px;
    color: #2b2839;
    border-bottom: 7px solid #d8cefe;
    background-color: #ddebf8;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    border-radius: 10px;
    margin: auto;
}

.alignment {
    justify-content: space-around;
}

.centered {
    text-align: center;
}