
body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Space Grotesk, sans-serif;
    color: #ffffff;   
}

.container {
    display: flex;
}

.left-col {
    width: 50%;
    background: linear-gradient( #1A3C34, #07614c);
    display: flex;
    padding: 20px;

}

.content {
    margin: auto;
    align-items: center;
}

.form {
    display: block;
    margin-top: 20px;
    max-width: 450px;
}

.outfield {
    background: #0bd3a4;
    padding: 8px 15px;
    font-size: 12px;
    border-left: 6px solid #0bd3a4;
    margin-top: 6px;
}

.outfield:focus-within {
    border-left: 6px solid rgb(74, 255, 74);
}

.input-field {
    padding: 10px;
    border: none;
    background: #0bd3a4;
    color: #ffffff;
}

.input-field:focus-visible {
    outline: none;
    border: none;
}

.input-field::placeholder {
    color: #97e6d6;
    opacity: 0.7;
}

.small {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 13px;
}

.checkbox {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    border-radius: 4px;
}

.accept {
    font-size: 12px;
    opacity: 0.7;
}

.small-link {
    text-decoration: none;
    color: rgb(90, 133, 115);
    font-size: 12px;
}

.button-acessar-div {
    width: 100%;
    display: flex;
    justify-content: start;
}

.acessar {
    padding: 15px 60px;
    margin-top: 25px;
    background: rgb(74, 255, 74);
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-weight: bold;
}

.acessar:hover {
    background: rgb(129, 255, 129);
    color: #00643e
}

.final-info {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 25px 10px 0px 10px;
}

.iconsdiv {
    display: flex;
    width: 32px;
    height: 32px;
    margin: 20px;
}

.icon {
    margin: 0px 5px;
}

.right-col {
    width: 50%;
    background-color: #07614c;
}

.img-login {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overlay: auto;
}